!!! 5
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #header
      h1
        a(href='/') node-myadmin
      ul.menu
        - if(host)
          li
            - if (database)
              - if (table)
                a(href='/#{host}/query/#{database}/#{table}') query
              - else
                a(href='/#{host}/query/#{database}') query
            - else
              a(href='/#{host}/query') query

      p#breadcrumb
        a(href='/') home
        - if (host)
          |  /
          a(href='/#{host}')= host
        - if(host && database)
          |  /
          a(href='/#{host}/#{database}')= database
        - if(host && database && table)
          |  /
          a(href='/#{host}/#{database}/#{table}')= table

    #content!= body
    #footer

    - each path in scripts
      script(src=path)
