!!! 5
html(lang:"en")
  head
    title= title
    link(rel:"stylesheet", href:"/stylesheets/style.css")
    script(src:'/js/jquery.js')
    script(src:'/js/global.js')
  body
    #header
      h1 node-myadmin
      ul.menu
        //- li
        //-   a(href:'/') home
        - if (database)
          li
            - if (table)
              a(href:'/'+ host +'/query/'+ database +'/'+ table) query
            - else
              a(href:'/'+ host +'/query/'+ database) query

      //- Breadcrumb
      p
        a(href:"/") home
        - if (host)
          |  /
          a(href:"/"+ host)= host
        - if(host && database)
          |  /
          a(href:"/"+ host +"/" +database)= database
        - if(host && database && table)
          |  /
          a(href:"/"+ host +"/"+ database +"/"+ table)= table

    #content!= body
    #footer
