- if (typeof truncate === 'undefined') truncate = NodeMyadmin.truncate
- if (err)
  div.error
    p.message= err.message
    p.code SQL State: #{err.sqlState}
    pre.stack= err.stack
- else
  - if (data.length)
    table
      tr
        - each field, name in query.fields
          - if(field.flags & Field.PRI_KEY_FLAG)
            th.pri= name
          - else if(field.flags & Field.UNIQUE_KEY_FLAG)
            th.uni= name
          - else
            th= name

      - each row in data
        tr(data-keys=rowLink(query, row))
          - var field = 0, value
          - for (var i in row) {
            - value = row[i]
            - if (value === null)
              td.null NULL
            - else
              - if(query.fields[i].flags & Field.PRI_KEY_FLAG)
                td.pri(title=value)= truncate(value, 200)
              - else if(query.fields[i].flags & Field.UNIQUE_KEY_FLAG)
                td.uni(title=value)= truncate(value, 200)
              - else
                td(title=value)= truncate(value, 200)

          - field++
          - }
  - else if (data.length === 0)
    p No matching results
  - else
    p Affected rows: #{data.affectedRows >>> 0}

    - if (data.insertId)
      p Insert ID: #{data.insertId}

    - if (data.message)
      p Message: #{data.message}
