- if(err)
  div.error
    p.message= err.message
    p.code SQL State: #{err.sqlState}
    pre.stack= err.stack
- else
  - if(data.length)
    table
      tr
        - each field in query.fields
          - if(field.flags & Field.PRI_KEY_FLAG)
            th.pri= field.name
          - else if(field.flags & Field.UNIQUE_KEY_FLAG)
            th.uni= field.name
          - else
            th= field.name

      - each row in data
        tr(data-keys=rowLink(query, row))
          - var field = 0
          - for(var i in row) {
            - if (row[i] === null)
              td.null NULL
            - else
              - if(query.fields[field].flags & Field.PRI_KEY_FLAG)
                td.pri= row[i]
              - else if(query.fields[field].flags & Field.UNIQUE_KEY_FLAG)
                td.uni= row[i]
              - else
                td= row[i]

          - field++
          - }
  - else
    p Affected rows: #{data.affectedRows}

    - if (data.insertId)
      p Insert ID: #{data.insertId}

    - if(data.message)
      p Message: #{data.message}
