ul
  li: a(href='/#{host}/#{database}/#{table}/truncate'
      , onclick='return confirm("You are about to truncate the table `#{table}`, are you sure?")')
      | Truncate table
  li: a(href='/#{host}/#{database}/#{table}/drop'
      , onclick='return confirm("You are about to drop the table `#{table}`, are you sure?")')
      | Drop table

table#fields
  tr
    th.field Field
    th.type Type
    th.null Null
    th.key Key
    th.default Default
    th.extra Extra

  - each field in fields
    tr(class=field.Key.toLowerCase())
      td.field= field.Field
      td.type= field.Type
      td.null: input(type='checkbox', checked=field.Null === 'YES', disabled)
      td.key= field.Key
      td.default= field.Default
      td.extra= field.Extra
