ul.menu
  li: a(href='/#{host}/#{database}/#{table}/truncate'
      , onclick='return confirm("You are about to truncate the table `#{table}`, are you sure?")')
      | Truncate table
  li: a(href='/#{host}/#{database}/#{table}/drop'
      , onclick='return confirm("You are about to drop the table `#{table}`, are you sure?")')
      | Drop table

table#fields
  tr
    th Field
    th Type
    th Null
    th Key
    th Default
    th Extra

  - each field in fields
    tr(class=field.Key.toLowerCase())
      td= field.Field
      td= field.Type
      td= field.Null
      td= field.Key
      - if (field.Null === 'YES' && field.Default === null)
        td.null NULL
      - else
        td= field.Default
      td= field.Extra
